
<% if signed_in? %>
  <div>
    <div style="text-align: left; position: relative;">
      <%= image_tag("logo.jpeg", {:style => "display:inline-block;width:10%;float:left;"}) %>
    </div>

    <span style="text-align: right; position: relative;">
        <h1>Hello, <%= current_agent.fName %></h1>
        <p id="time"></p>
        <p><%= link_to "Sign out", signout_path, method: "delete" %></p>
      </span>

    <h1 style="text-align: center; position: relative;">RentO co.</h1>
  </div>
<% else %>
  <div class="header">
    <%= image_tag("logo.jpeg", {:style => "display:inline-block;width:10%;float:left;"}) %>
    <h1 style="text-align: center;position: relative; top: 18px; left: -50px">RentO co.</h1>
  </div>
<% end %>
